/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 7, ../sass/partials/_global.scss */
body {
  font-family: "ff-tisa-web-pro";
  font-size: 1.45em;
  text-rendering: optimizeLegibility;
  color: #222222;
  background-color: #f6f9fd; }
  @media (max-width: 829px) {
    /* line 7, ../sass/partials/_global.scss */
    body {
      font-size: 1.2em; } }

/* line 17, ../sass/partials/_global.scss */
* {
  box-sizing: border-box; }

/* line 21, ../sass/partials/_global.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 23, ../sass/partials/_global.scss */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700; }

/* line 31, ../sass/partials/_global.scss */
h1 {
  font-size: 200%;
  line-height: 1.2em;
  margin-bottom: .8em; }

/* line 33, ../sass/partials/_global.scss */
p {
  font-size: 95%;
  font-weight: 300;
  line-height: 1.5em;
  padding: 0;
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased; }

/* line 42, ../sass/partials/_global.scss */
h6 {
  font-size: 60%;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2em;
  letter-spacing: 2px;
  color: #a3c1ea; }

/* line 51, ../sass/partials/_global.scss */
hr {
  width: 35px;
  height: 3px;
  margin: 0 auto 15px;
  background-color: #b3c4da;
  box-shadow: none;
  border: none; }

/* line 60, ../sass/partials/_global.scss */
.wrapper {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  max-width: 860px;
  margin: 0 auto; }

/* line 68, ../sass/partials/_global.scss */
main,
aside {
  margin: 40px 0; }

/* line 73, ../sass/partials/_global.scss */
main {
  flex: 0 0 75%;
  box-sizing: border-box; }
  @media (max-width: 829px) {
    /* line 73, ../sass/partials/_global.scss */
    main {
      width: 100%;
      margin: 0;
      padding: 20px; } }

/* line 83, ../sass/partials/_global.scss */
aside {
  order: 1;
  -webkit-order: 1;
  flex: 0 0 25%;
  padding: 10px 0 0 60px;
  text-align: center; }
  /* line 89, ../sass/partials/_global.scss */
  aside img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 30px; }
  /* line 90, ../sass/partials/_global.scss */
  aside small {
    font-size: 60%;
    font-weight: 300;
    color: #b3c4da; }

/* line 93, ../sass/partials/_global.scss */
figure img {
  max-width: 100%;
  max-height: 100vh; }

/* line 98, ../sass/partials/_global.scss */
.post-title {
  color: #222222; }

/* line 1, ../sass/partials/_navigation.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  @media (max-width: 829px) {
    /* line 1, ../sass/partials/_navigation.scss */
    header {
      position: relative; } }
  /* line 10, ../sass/partials/_navigation.scss */
  header #main-nav {
    display: block;
    padding: 40px 20px 40px 0; }
    @media (max-width: 829px) {
      /* line 10, ../sass/partials/_navigation.scss */
      header #main-nav {
        padding-top: 20px; } }
    /* line 16, ../sass/partials/_navigation.scss */
    header #main-nav h1 {
      font-size: 130%;
      position: absolute;
      top: 40px;
      left: 40px;
      border-bottom: 4px solid #357dd0;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out; }
      @media (max-width: 829px) {
        /* line 16, ../sass/partials/_navigation.scss */
        header #main-nav h1 {
          margin-left: 20px; } }
    /* line 29, ../sass/partials/_navigation.scss */
    header #main-nav ul {
      margin-top: 40px;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out; }
      @media (max-width: 829px) {
        /* line 29, ../sass/partials/_navigation.scss */
        header #main-nav ul {
          display: flex;
          display: -webkit-flex;
          padding-left: 20px; } }
    /* line 39, ../sass/partials/_navigation.scss */
    header #main-nav li {
      font-weight: 300;
      color: #357dd0;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      padding: 7px 0 7px 35px;
      border-left: 8px solid transparent;
      cursor: pointer; }
      @media (max-width: 829px) {
        /* line 39, ../sass/partials/_navigation.scss */
        header #main-nav li {
          display: inline-block;
          padding: 0;
          margin-right: 10px;
          border: none; } }

/* line 57, ../sass/partials/_navigation.scss */
.lines {
  position: relative;
  top: 8px;
  margin-left: -10px;
  display: inline-block;
  width: 30px;
  height: 4px;
  background: #357dd0;
  opacity: 0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }
  /* line 70, ../sass/partials/_navigation.scss */
  .lines::before, .lines::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 4px;
    background: #357dd0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease; }
  /* line 83, ../sass/partials/_navigation.scss */
  .lines::before {
    top: 10px; }
  /* line 84, ../sass/partials/_navigation.scss */
  .lines::after {
    top: -10px; }

/* line 88, ../sass/partials/_navigation.scss */
.animated {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }
  /* line 92, ../sass/partials/_navigation.scss */
  .animated.slideInDown ul, .animated.slideInDown h1 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  /* line 97, ../sass/partials/_navigation.scss */
  .animated.slideInDown .lines {
    opacity: 0; }
  /* line 100, ../sass/partials/_navigation.scss */
  .animated.slideInUp ul, .animated.slideInUp h1 {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0; }
  /* line 105, ../sass/partials/_navigation.scss */
  .animated.slideInUp .lines {
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
    opacity: 1; }
  /* line 111, ../sass/partials/_navigation.scss */
  .animated.slideInUp:hover ul, .animated.slideInUp:hover h1 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  /* line 116, ../sass/partials/_navigation.scss */
  .animated.slideInUp:hover .lines {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0; }
